registry=https://artifactory.stage.0658b-techopscore.com/artifactory/api/npm/npm-opensource/
//artifactory.stage.0658b-techopscore.com/artifactory/api/npm/npm-opensource/:_authToken=${NPM_AUTH_TOKEN}
//artifactory.stage.0658b-techopscore.com/artifactory/api/npm/npm-appcode-dev/:_authToken=${NPM_AUTH_TOKEN}
always-auth=true
