registry=https://artifactory.stage.0658b-techopscore.com/artifactory/api/npm/npm-opensource/

@my-scope:registry=https://artifactory.stage.0658b-techopscore.com/artifactory/api/npm/npm-appcode-dev/
//artifactory.stage.0658b-techopscore.com/artifactory/api/npm/npm-appcode-dev/:_authToken=${ACCESS_TOKEN}
